@import url('./other/container.css');

html body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

ul li {
    height: 25%;
}

button {
    margin-left: 10px;
    border:none;
}








