#myInput {
    background-color: #F0E68C;
    margin-left: 10px;
    padding-left: 10px;
    width: 50%;
    border:none;
    outline: none;
    color: #8B4513;
    font-family: "Snell Roundhand", cursive;
}