#myButton {
    background: #F0E68C;
    width: 50%;
    height: 50px;
    border-radius: 3px;
    box-shadow: 0 -3px #BDB76B inset;
    transition: 0.2s;
    margin-right: 10px;
    color: #8B4513;
    font-family: "Snell Roundhand", cursive;
}

#myButton:hover {
    background-color: rgba(240, 230, 140, 0.7);
    box-shadow: 0 -3px rgba(240, 230, 140, 0.9) inset;
}